[tool.poetry]
name = "openassistants"
version = "0.0.1"
description = ""
authors = ["Rick Lamers <ricklamers@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
pandas = "^2.1.3"
fastapi = "^0.104.1"
starlette = ">=0.27.0,<0.28.0"
langchain = "^0.0.346"
jsonschema = "^4.20.0"
ruamel-yaml = "^0.18.5"
sqlalchemy = "^2.0.23"
openai = "^1.3.7"


[tool.poetry.group.test.dependencies]
black = "^23.11.0"
flake8 = "^6.1.0"
invoke = "^2.2.0"
mypy = "^1.7.1"
pandas-stubs = "^2.1.1.230928"
pytest = "^7.4.3"
pytest-asyncio = "^0.23.2"
types-jsonschema = "^4.20.0.0"
coverage = "^7.3.2"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
